@model ML.Empleado
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>Empleado</h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione un empleado para editarla o el boton + para agregar un usuario...</h5>
            <hr />
        </div>
    </div>
</div>
<div class="container">
    @using (Html.BeginForm("CargaMasiva", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <div class="col-md-3">
                <a><input type="file" name="Archivo"></a>
            </div>
            <a><input type="submit" value="Cargar Archivo" class="btn btn-info"></a>
        </div>
    }
</div>

<div style="float:right;">
    @Html.ActionLink("+", "Form", "Empleado", htmlAttributes: new { @class = "btn btn-success" })
</div>
@if (Model.Empleados == null)
{
    <div class="p-3 mb-2 bg-danger text-white">Aun no hay usuarios registrados</div>
}
else
{
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <td class="text-center">Editar</td>

                <td style="display :none;">IdEmpleado</td>
                <td class="text-center">NumeroEmpleado</td>
                <td class="text-center">RFC</td>
                <td class="text-center">Nombre</td>
                <td class="text-center">Email</td>
                <td class="text-center">Telefono</td>
                <td class="text-center">FechaNacimiento</td>
                <td class="text-center">NSS</td>
                <td class="text-center">FechaIngreso</td>
                <td class="text-center">Foto</td>
                <td style="display :none;">IdEmpresa</td>
                <td class="text-center">NombreEmpresa</td>
                <td style="display :none;">IdPoliza</td>
                <td class="text-center">NombrePoliza</td>
                <td class="text-center">Eliminar</td>
            </tr>
        </thead>
        <tbody>
            @foreach (ML.Empleado empleado in Model.Empleados)
            {
                <tr>
                    <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Empleado", new { IdEmpleado = empleado.IdEmpleado })"></a></td>

                    <td style="display :none;">@empleado.IdEmpleado</td>
                    <td class="text-center">@empleado.NumeroEmpleado</td>
                    <td class="text-center">@empleado.Rfc</td>
                    <td class="text-center">@empleado.Nombre @empleado.ApellidoPaterno @empleado.ApellidoMaterno</td>
                    <td class="text-center">@empleado.Email</td>
                    <td class="text-center">@empleado.Telefono</td>
                    <td class="text-center">@empleado.FechaNacimiento</td>
                    <td class="text-center">@empleado.Nss</td>
                    <td class="text-center">@empleado.FechaIngreso</td>
                    

                    <td>
                            @if (empleado.Foto != null)
                            {

                                <img class="card-Img" src="data:image/*;base64,@empleado.Foto" style="width:150px ; height:165px" />

                            }
                            else
                            {
                                <img class="card-Img" src="~/Imagenes/SinRostro.jpg" style="width:150px ; height:150px" />
                            }

                        </td>
                        <td style="display :none;">@empleado.Empresa.IdEmpresa</td>
                    <td class="text-center">@empleado.Empresa.Nombre</td>
                    <td style="display :none;">@empleado.Poliza.IdPoliza</td>
                    <td class="text-center">@empleado.Poliza.Nombre</td>
                    @*se tiene que llamar el modelo*@




                    <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Empleado", new { IdEmpleado = empleado.IdEmpleado})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                </tr>
            }
        </tbody>
    </table>
}
</div>
